.sidebar{
    display: none;
    position: fixed;
    margin-top: 3px;
    width: 250px;
    height: 100%;
    left: 0px;
    background: #eef0ff;
    box-shadow: 5px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.sidebar_lists{
    background-color: #eef0ff;
    height: 100%;
    width: 100%;
    list-style: none;
}
.sidebar_list{
    line-height: 80px;
    border-bottom: 2px solid #f3f5ff;
    text-transform: uppercase;
}
.sidebar_list a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding-left: 40px;
    display: block;
    width: 100%;
}
.sidebar_list a:hover{
    background: linear-gradient(to bottom, #2c3e50, #2980b9);
    color: #ffffff;
}
